<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
	<div class="container">
		<div class="left-section">
			<a class="logo" href="/"
				><img
					loading="lazy"
					decoding="async"
					src="/assets/svgs/casa-nautilus-symbol-combo.svg"
					alt="logo"
					width="264"
					height="78"
			/></a>
		</div>
		<div class="right-section">
			<div class="lists">
				<ul>
					<li>
						<h2>Mapa del sitio</h2>
					</li>
					<li>
						<a href="/">Inicio</a>
					</li>
					<li>
						<a href="/acerca">Acerca de Nosotros</a>
					</li>
					<li>
						<a href="/blog">Blog</a>
					</li>
					<li>
						<a href="/galeria">Galeria</a>
					</li>
					<li>
						<a href="/faq">FAQ</a>
					</li>
				</ul>
				<ul>
					<li>
						<h2>AYUDA</h2>
					</li>
					<li>
						<a onclick="openModal('modal-2')">Política de Privacidad</a>
					</li>
				</ul>
				<ul>
					<li>
						<h2>Contacto</h2>
					</li>
					<li>
						<a href="https://maps.app.goo.gl/JJjT9sNTxz3eGFC86">
							{{client.address.lineOne}}<br />
							{{client.address.lineTwo}}<br />
							{{client.address.city}} {{client.address.state}}
							{{client.address.zip}}
						</a>
					</li>
					<li>
						<a href="tel:{{client.phoneForTel}}">
							T: {{client.phoneFormatted}}
						</a>
					</li>
					<li>
						<a href="mailto:{{client.email}}">{{client.email}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

 <div class="credit">
		<span>Número de licencia: H/CA/01429</span>
		<br>
		<span>Diseñado y Codificado a mano por</span>
		<a href="/" target="_blank" rel="noopener"> Holistic Careers LLC </a>
		<span class="copyright"> Derechos de autor {% year %} - Presente</span>
	</div>

	<!-- PRIVACY POLICY MODAL -->
	<div id="modal-2" class="jw-modal">
		<div class="jw-modal-body">
			<div class="cs-container">
				<h1>Política de Privacidad</h1>

				<p>Este sitio web utiliza cookies.</p>

				<p>
					Las cookies son archivos enviados a un navegador a través de un servidor web para registrar las actividades del Usuario en un sitio web o en los servicios del sitio web (en adelante, los servicios). Las cookies se utilizan para facilitar un acceso más rápido a los servicios seleccionados y para personalizar los servicios ofrecidos por el sitio web, basándose en las elecciones y preferencias habituales del usuario al utilizar los servicios.
				</p>

				<p>
					Las cookies están asociadas a un usuario anónimo y a su computadora y no recopilan datos personales. El usuario puede configurar su navegador para no permitir la instalación de cookies utilizadas por el sitio web, aunque rechazarlas no impedirá que el usuario acceda a los servicios. Sin embargo, no permitir la instalación de cookies puede disminuir la velocidad y la calidad del funcionamiento del sitio web.
				</p>

				<h2>Uso de cookies por parte del sitio web:</h2>

				<p>
					En cumplimiento con la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, le informamos que este sitio web, como la mayoría de los sitios en Internet, utiliza cookies para mejorar y optimizar la experiencia del usuario. A continuación, encontrará información detallada sobre qué son las cookies, qué tipos utiliza este sitio web, cómo cambiar la configuración de las cookies y qué ocurre si las desactiva.
				</p>

				<h2>Qué son las cookies?</h2>

				<p>
					Una cookie es un pequeño archivo que se descarga en el ordenador del usuario para almacenar datos, los cuales pueden ser actualizados y recuperados por la entidad responsable de su instalación.
				</p>

				<h2>Las cookies pueden ser:</h2>
				<ul>
					<li>
						Cookies técnicas: Estas permiten al usuario navegar por un sitio web, plataforma o aplicación y utilizar las diferentes opciones o servicios disponibles, tales como controlar el tráfico y la comunicación de datos, identificar sesiones, acceder a partes de acceso restringido, recordar los elementos que componen un pedido, completar el proceso de compra de un pedido, enviar una solicitud de registro o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenido para la transmisión de videos o sonidos, o compartir contenido a través de redes sociales.
					</li>

					<li>
						Cookies de personalización: Estas permiten al usuario acceder al servicio con algunas características generales predefinidas en función de criterios en el terminal del usuario, como el idioma, el tipo de navegador utilizado para acceder al servicio, la configuración regional desde la que se accede al servicio, etc.
					</li>

					<li>
						Cookies analíticas: Estas, ya sean gestionadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y realizar la medición y análisis estadístico del uso que los usuarios hacen del servicio ofrecido. Para ello, se analiza su navegación en nuestro sitio web con el fin de mejorar la oferta de productos o servicios que proporcionamos.
					</li>

					<li>
						Cookies de terceros: El sitio web de D. L. GOINS puede utilizar servicios de terceros que, en nombre de D. L. GOINS, recopilan información con fines estadísticos sobre el uso del Sitio por parte del usuario y para la prestación de otros servicios relacionados con la actividad del Sitio Web y otros servicios de internet.
					</li>

					<li>
						Cookies de sesión: Estas son cookies diseñadas para recopilar y almacenar datos mientras el usuario accede a un sitio web. Estas cookies no se almacenan en la computadora del usuario cuando la sesión expira o el usuario cierra el navegador.
					</li>

					<li>
						Cookies persistentes: Estas son cookies en las que los datos permanecen almacenados en el ordenador del usuario y pueden ser accedidos y procesados cuando el usuario abandona el sitio web y se vuelve a conectar a él. Estas cookies pueden ser eliminadas en cualquier momento por el usuario.
					</li>
				</ul>

				<p>
					En particular, este sitio web utiliza Google Analytics, un servicio de análisis web proporcionado por Google Inc., con sede en los Estados Unidos en 1600 Amphitheatre Parkway, Mountain View, California 94043. Para la prestación de estos servicios, se utilizan cookies que recopilan información, incluida la dirección IP del usuario, la cual será transmitida, procesada y almacenada por Google según lo establecido en el sitio web de Google.com. Esto puede incluir la transmisión de dicha información a terceros por razones legales o cuando dichos terceros procesen la información en nombre de Google.
				</p>

				<p>
					El sitio web recopila información del usuario mediante la instalación de las siguientes cookies en el disco duro del visitante. Esta información no identifica ni puede ser utilizada para identificar personalmente al usuario de ninguna manera, lo que significa que es completamente anónima.
				</p>

				<h3>Tipos, propósito y funcionamiento de las cookies utilizadas en el sitio web.</h3>

				<h3>Cómo desactivar las cookies en los principales navegadores.</h3>

				<p>
					Se pueden bloquear o desactivar utilizando las herramientas de configuración de su navegador. El navegador permite rechazar la instalación de todas las cookies o elegir rechazar solo algunas de ellas.
				</p>

				<p>
					Proporcionamos enlaces a las herramientas de los principales navegadores donde puede aprender a desactivar las cookies.
				</p>

				<a
					href="https://support.google.com/chrome/answer/95647?hl=en&amp;hlrm=en"
					>Google Chrome Support</a
				>

				<a
					href="http://support.mozilla.org/en/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&amp;redirectslug=Cookies"
				>
					Mozilla Firefox Support
				</a>

				<a
					href="http://support.apple.com/kb/PH5042?viewlocale=en_UShttp://support.apple.com/kb/HT1677?viewlocale=en_US"
				>
					Apple Safari
				</a>

				<p>Internet Explorer</p>

				<a href="http://support.microsoft.com/kb/196955/en">Version 5</a>

				<p></p>

				<a href="http://support.microsoft.com/kb/283185/en">Version 6</a>

				<a
					href="http://windows.microsoft.com/en-US/windows-vista/Block-or-allow-cookies"
				>
					Versions 7 and 8
				</a>

				<p></p>

				<a
					href="http://windows.microsoft.com/en-US/windows7/How-to-manage-cookies-in-Internet-Explorer-9"
				>
					Version 9
				</a>

				<p></p>

				<a
					href="http://windows.microsoft.com/en-xl/internet-explorer/delete-manage-cookies"
				>
					Version 10 and later
				</a>

				<h3>Qué sucede si las cookies están desactivadas</h3>

				<p>
					Si rechazas las cookies, aún podrás usar nuestro sitio web, pero algunos servicios y/o enlaces podrían dejar de funcionar, y no podremos obtener información valiosa de ti para ofrecer contenido adaptado a tus intereses y permitirte acceder a información de interés de manera más fácil y rápida.
				</p>

				<h3>Cambios en la política de cookies</h3>

				<p>
					Este sitio web puede modificar esta política de cookies, ya sea incorporando nuevas cookies debido a la necesidad de ofrecer nuevo contenido, o por requisitos legislativos o regulatorios que hagan necesario cambiarla. Por lo tanto, se recomienda a los usuarios revisarla antes de comenzar a navegar en el sitio web y cada vez que lo visiten nuevamente.
				</p>

				<h3>AVISO LEGAL</h3>

				<p>
					En cumplimiento de lo dispuesto en el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico (en adelante, LSSI-CE), se informa a los destinatarios de este servicio que D. L. GOINS, con domicilio social en Calle Barrocal 5, Cádiz, 11500, es el responsable del sitio web.
				</p>

				<p>NIE número de cuenta Y-2815757-L</p>

				<p>Su número de teléfono es 603 168 882</p>

				<p>
					La dirección de correo electrónico de contacto es
					<a href="mailto:SpanishGalleonLodge@gmail.com"
						>SpanishGalleonLodge@gmail.com</a
					>
					Para consultas relacionadas con el acceso o, en general, con la protección de datos personales y la privacidad, puedes utilizar esta dirección de correo electrónico.
				</p>

				<h3>POLÍTICA DE PRIVACIDAD</h3>

				<p>
					D. L. GOINS es consciente de la importancia de la privacidad en el tratamiento de los datos personales y, por ello, ha implementado una política de tratamiento de datos orientada a proporcionar la máxima seguridad en su uso y recopilación, garantizando el cumplimiento de la normativa vigente en la materia y configurando dicha política como uno de los pilares básicos en las líneas de actuación de la entidad.
				</p>

				<p>
					D. L. GOINS informa a los usuarios del sitio web.
					<a href="www.casanautiluscadiz.com">www.casanautiluscadiz.com</a>
					Que, respetando la legislación vigente en materia de protección de datos personales, la privacidad de los usuarios y la confidencialidad de los datos personales, de conformidad con lo dispuesto en la Ley Orgánica 3/2018, de Protección de Datos Personales y garantía de los derechos digitales, y el Reglamento General de Protección de Datos de la Unión Europea (RGPD) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril, hemos adoptado las medidas técnicas y organizativas necesarias para evitar la pérdida, el uso indebido, la alteración, el acceso no autorizado y el robo de los datos personales proporcionados, teniendo en cuenta el estado de la tecnología, la naturaleza de los datos y los riesgos a los que están expuestos.
				</p>

				<p>
					FINALIDAD DEL TRATAMIENTO.- En concreto, D. L. GOINS informa a los usuarios del sitio web
					<a href="www.casanautiluscadiz.com">www.casanautiluscadiz.com</a>
					que sus datos personales sólo podrán obtenerse para su tratamiento cuando sean adecuados, pertinentes y no excesivos en relación con el alcance y las finalidades específicas, explícitas y legítimas para las que han sido obtenidos. Cuando se recaben datos personales a través de
					<a href="www.casanautiluscadiz.com">www.casanautiluscadiz.com</a>, el usuario será informado previamente, de manera clara e inequívoca, sobre los usos y finalidades previstos para dichos datos, así como sobre los derechos y facultades que protegen al interesado, solicitando su consentimiento expreso para estos fines, habilitando una casilla que deberá ser marcada afirmativamente. En general, la finalidad del tratamiento de tus datos es atender las comunicaciones o solicitudes que nos lleguen a través del sitio web y gestionar posibles reservas de nuestras instalaciones para ofrecer el servicio requerido.
				</p>

				<h3>CONSERVACIÓN DE DATOS.</h3>

				<p>
					Tus datos serán eliminados cuando dejen de ser necesarios o relevantes para el propósito para el que fueron obtenidos y del cual te hemos informado, o cuando el usuario lo solicite retirando su consentimiento.
				</p>

				<p>
					LEGITIMIDAD PARA EL TRATAMIENTO DE DATOS.- La base de legitimidad será el consentimiento del interesado para el tratamiento de los datos y los acuerdos basados en algún tipo de contrato, ya sea verbal o escrito.
				</p>

				<h3>DESTINATARIOS DE LOS DATOS.</h3>

				<p>
					Los destinatarios de tus datos serán aquellos directamente relacionados con la finalidad para la que hemos recabado tus datos.
				</p>

				<p>
					Es posible que en este sitio web implementemos algún enlace a nuestras cuentas en redes sociales (Facebook, Instagram, Twitter, etc.); con esta opción, solo te estamos proporcionando un enlace, a través de un hipervínculo, para que puedas interactuar más fácilmente. Tus datos, gustos o preferencias nunca serán transferidos.
				</p>

				<p>
					En ningún caso D. L. GOINS asumirá responsabilidad por el contenido de cualquier enlace perteneciente a un sitio web de terceros, ni garantizará la legalidad de ningún material o información contenida en cualquiera de estos hipervínculos u otros sitios web.
				</p>

				<p>
					En caso de utilizar los enlaces, acceda a la política de privacidad y aviso legal de la página visitada.
				</p>

				<p>
					El usuario será el único responsable de la cumplimentación de los formularios con datos falsos, inexactos, incompletos o no actualizados.
				</p>

				<h3>DERECHOS DEL USUARIO</h3>

				<p>
					Le informamos que tiene derecho a solicitar el acceso, la rectificación, la supresión, la limitación del tratamiento, la oposición o el derecho a la portabilidad de sus datos personales a través de un correo electrónico a SpanishGalleonLodge@gmail.com o mediante una solicitud escrita dirigida a la dirección mencionada anteriormente, acompañada de su DNI, Pasaporte o un documento de identidad válido.
				</p>

				<p>
					El ejercicio de algunos de estos derechos no afectará la legalidad del tratamiento realizado antes de su ejercicio.
				</p>

				<p>
					Tiene derecho a presentar una reclamación ante la Agencia Española de Protección de Datos ([www.agpd.es](http://www.agpd.es/)) si considera que sus derechos en materia de protección de datos personales han podido ser vulnerados, así como a solicitar información y protección a dicha entidad sobre el ejercicio de sus derechos.
				</p>

				<h3>PROPIEDAD INTELECTUAL E INDUSTRIAL</h3>

				<p>
					Los derechos de propiedad intelectual del contenido de las páginas web, su diseño gráfico y códigos son propiedad de D. L. GOINS, y, por lo tanto, se prohíbe su reproducción, distribución, comunicación pública y transformación, excepto para uso personal y privado. Asimismo, todos los nombres comerciales, marcas o cualquier otro signo distintivo de cualquier tipo contenidos en las páginas web de D. L. GOINS están protegidos por la ley.
				</p>
				<button class="cs-button-solid" onclick="closeModal()">Cerrar</button>
			</div>
		</div>
	</div>
</footer>
