---
title: 'Acerca de Nosotros'
description: ''
keywords: 'Economical stays Cádiz city center, Central Cádiz cheap hotels, Best budget hotel Cádiz, Low-cost hotel Cádiz city center, Cheap accommodation Cádiz'
preloadImg: '/assets/images/door.webp'
permalink: 'acerca/'
eleventyNavigation:
  key: About Us
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
	<h1 id="home-h">Acerca de Nosotros</h1>
	<picture>
		<source media="(max-width: 600px)" srcset="/assets/images/door.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/door.webp" />
		<img
			aria-hidden="true"
			decoding="async"
			src="/assets/images/door.webp"
			alt="kitchen cabinets"
			loading="eager"
			width="2500"
			height="1667"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
	<div class="cs-container">
		<!-- Left Image Section -->
		<div class="cs-left">
			<picture class="cs-picture cs-picture1">
				<source media="(max-width: 600px)" srcset="/assets/images/palm.webp" />
				<source media="(min-width: 601px)" srcset="/assets/images/palm.webp" />
				<img
					aria-hidden="true"
					decoding="async"
					src="/assets/images/palm.webp"
					alt="cabinets"
					loading="lazy"
					width="400"
					height="563"
				/>
			</picture>
			<picture class="cs-picture cs-picture2">
				<source media="(max-width: 600px)" srcset="/assets/images/plaza.webp" />
				<source media="(min-width: 601px)" srcset="/assets/images/plaza.webp" />
				<img
					aria-hidden="true"
					decoding="async"
					src="/assets/images/plaza.webp"
					alt="house"
					loading="lazy"
					width="400"
					height="563"
				/>
			</picture>
		</div>
		<!-- Right Content Section-->
		<div class="cs-right">
			<span class="cs-topper">Acerca de Nosotros</span>
			<h2 class="cs-title">Historia</h2>
			<p class="cs-text">
				Casa Nautilus se erige como un símbolo de hospitalidad, valor y encanto histórico en el corazón del barrio más antiguo de Cádiz, El Pópulo. Reconocida por su ubicación privilegiada y alojamientos altamente valorados, esta casa de huéspedes combina sin esfuerzo las comodidades modernas con el atractivo atemporal del rico pasado de la ciudad, todo a un precio que hace que descubrir Cádiz sea accesible para todos. Situada entre las sinuosas calles de El Pópulo, Casa Nautilus te coloca a solo unos pasos de la Catedral de Cádiz, las antiguas murallas de la ciudad y una variedad de otros venerables monumentos que evocan siglos de importancia marítima y orígenes fenicios.
			</p>
			<p class="cs-text">
				El Pópulo en sí es un museo vivo, donde cada rincón revela capas de historia moldeadas por conquistas, comercio e intercambios culturales. Este emblemático barrio, uno de los primeros espacios fortificados en la transformación de Cádiz en una base naval clave, cuenta con estrechas y laberínticas calles rodeadas de arquitectura medieval. El contraste entre estas maravillas históricas y las comodidades modernas, ofrecidas a un precio poco común para la zona, crea una experiencia única que invita a los huéspedes a sumergirse en el espíritu de Cádiz mientras disfrutan de una estancia relajante e inolvidable.
		</div>
	</div>
</section>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-42">
	<div class="cs-container">
		<div class="cs-content">
			<div class="cs-flex">
				<span class="cs-topper">Ven y Visítanos</span>
				<h2 class="cs-title">El Barrio</h2>
			</div>
			<div class="cs-flex">
				<p class="cs-text">
					El Pópulo, la parte más antigua de Cádiz, ofrece una inmersión profunda en el rico tapiz histórico y cultural de la ciudad. Con orígenes que se remontan al siglo XIII, este barrio es reconocido como el corazón medieval de Cádiz, situado entre el Ayuntamiento y la Catedral. Sus tres antiguos arcos, el Arco de la Rosa, el Arco del Pópulo y el Arco de los Blancos – se alzan como portales a este barrio histórico, cada uno contando una historia del pasado de la zona y su importancia a lo largo de los siglos
				</p>
			</div>
		</div>
		<div class="cs-image-group">
			<picture class="cs-picture cs-picture-1">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/cathedral1.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/cathedral1.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/cathedral1.webp"
					alt="A Cathedral in Cadiz"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-2">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/caleta.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/caleta.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/caleta.webp"
					alt="Boats on the beach of La Caleta"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-3">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/teatro.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/teatro.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/teatro.webp"
					alt="The grand theatre Falla of Cadiz"
					width="780"
					height="582"
				/>
			</picture>
			<picture class="cs-picture cs-picture-4">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/castle.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/castle.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/castle.webp"
					alt="A large Cathedral"
					width="780"
					height="582"
				/>
			</picture>
			<picture class="cs-picture cs-picture-5">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/beach1.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/beach1.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/beach1.webp"
					alt="Beach sunset"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-6">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/sunset.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/sunset.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/sunset.webp"
					alt="a sunset on a beach"
					width="380"
					height="271"
				/>
			</picture>
		</div>
	</div>
</section>

{% endblock %}
