---
title: 'FAQ'
description: 'Meta description for the page'
keywords: 'Horarios de entrada y salida de hoteles en Cádiz, Opciones de aparcamiento para hoteles en Cádiz, Preguntas sobre viajes económicos sobre hoteles en Cádiz, Preguntas frecuentes para turistas alojados en Cádiz centro, Información imprescindible para hoteles económicos en Cádiz'
preloadImg: '/assets/images/tower.webp'
permalink: 'faq/'
eleventyNavigation:
	key: FAQs
	order: 600
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/faqs.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
	<h1 id="home-h">FAQ</h1>
	<picture>
		<source media="(max-width: 600px)" srcset="/assets/images/tower.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/tower.webp" />
		<img
			aria-hidden="true"
			decoding="async"
			src="/assets/images/tower.webp"
			alt="tower of a cathedral"
			loading="eager"
			width="2500"
			height="1667"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-351">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Cómo podemos ayudar?</span>
			<h2 class="cs-title">Preguntas Frecuentes</h2>
		</div>
		<ul class="cs-faq-group">
			<!-- Active class added as default -->
			<li class="cs-faq-item active">
				<button class="cs-button">
					<span class="cs-button-text">
						Transporte desde el aeropuerto de Jerez
					</span>
				</button>
				<p class="cs-item-p">
					Tren - Aprox. 45 minutos y 6€ Pulsa
					<a
						class="cs-li-link"
						href="https://www.renfe.com/es/es/cercanias/cercanias-cadiz/horarios"
						>AQUI</a
					>
					para encontrar precios y horarios exactos.
				</p>
				<p class="cs-item-p">
					Taxi - Aprox. 40 minutos y 45-60€ según hora y día.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Transporte desde Sevilla </span>
				</button>
				<p class="cs-item-p">
					Tren - aproximadamente 1 hora y 40 minutos y unos 14 €. Pulsa
					<a class="cs-li-link" href="https://www.renfe.com/es/es">AQUI</a> para horarios y precios actualizados.
				</p>
				<p class="cs-item-p">Coche - Aproximadamente 1 hora y 15 minutos.</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">
						Transporte con Autobuses Locales Para Visitar Otros Pueblos
					</span>
				</button>
				<p class="cs-item-p">
					Pulsa
					<a href="https://www.tgcomes.es/consulta-los-horarios/">AQUI</a>
					para consultar horarios y destinos de autobuses.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Aparcamiento </span>
				</button>
				<p class="cs-item-p">
					No disponemos de parking privado pero disponemos de uno a 5 minutos andando del hotel, Parking Canalejas. Pulsa
					<a href="https://www.interparking.es/es-ES/find-parking/Canalejas/"
						>AQUI</a
					>
					para información, ubicación y precios.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Services We Offer </span>
				</button>
				<p class="cs-item-p">
					Check-in from 15:00, Check-out until 11:00, Virtual Reception from
					09:00 to 21:00
				</p>
				<p class="cs-item-p">Free Wi-Fi Access</p>
				<p class="cs-item-p">Terrace Access</p>
				<p class="cs-item-p">We Print your Boarding Pass</p>
				<p class="cs-item-p">Laundry Service Linen Included</p>
				<p class="cs-item-p">Hairdryer</p>
				<p class="cs-item-p">
					Luggage Storage (Must give 24 hour notice to use this service)
				</p>
			</li>
		</ul>
		<!--Added second UL, this allows you to open an FAQ item on each side without messing up the flexbox for the other -->
		<ul class="cs-faq-group">
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Local Partners </span>
				</button>
				<p class="cs-item-p">
					<a href="https://revolcom.com/">Surf Classes</a>
				</p>
				<p class="cs-item-p">
					<a
						href="https://www.tripadvisor.es/Attraction_Review-g187432-d8796158-Reviews-Free_Tour_Cadiz_Lalunares-Cadiz_Costa_de_la_Luz_Andalucia.html"
						>Guided and Gastronomical Tours</a
					>
				</p>
				<p class="cs-item-p">
					<a
						href="https://www.tripadvisor.es/Attraction_Review-g187432-d8796158-Reviews-Free_Tour_Cadiz_Lalunares-Cadiz_Costa_de_la_Luz_Andalucia.html"
						>Flamenco Tours</a
					>
				</p>
				<p class="cs-item-p">
					<a href="https://instabio.cc/galleonflamenco">Flamenco Shows</a>
				</p>
			</li>

			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Payment Policy </span>
				</button>
				<p class="cs-item-p">
					All guests are charged in full once the free cancellation period has
					ended. Please check the conditions of your reservation to see when
					this is.
				</p>
				<p class="cs-item-p">
					If you prefer to pay in cash or with a different credit card, please
					inform the staff and upon your arrival we will issue a refund to the
					original card.
				</p>
				<p class="cs-item-p">
					If you prefer to pay in Cryptocurrency, there is a 5% discount on the
					total of the reservation. Ask our staff for details.
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Our Location </span>
				</button>
				<p class="cs-item-p">
					Check out our link to google maps for nearby restaurants, cafes and
					atractions. Click
					<a
						href="https://www.google.com/maps/d/u/0/viewer?ll=36.53261874360098%2C-6.299278333319191&z=16&mid=1Ij4rp3sUMhkbkVEsIJAv2qwglZknUfOJ"
						>HERE</a
					>
				</p>
			</li>

			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Weather and Waves </span>
				</button>
				<p class="cs-item-p">
					For up to date weather information click
					<a href="https://www.eltiempo.es/cadiz.html">HERE</a>
				</p>
				<p class="cs-item-p">
					For up to date surf info click
					<a href="https://www.windguru.cz/378664">HERE</a>
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text"> Wi-Fi Access Password</span>
				</button>
				<p class="cs-item-p">casanautilus2018</p>
			</li>
		</ul>
	</div>
</section>

<!-- ============================================ -->
<!--                    Map                       -->
<!-- ============================================ -->

<section id="map-720">
	<iframe
		src="https://www.google.com/maps/d/embed?mid=1Ij4rp3sUMhkbkVEsIJAv2qwglZknUfOJ&ehbc=2E312F"
		width="100%"
		height="500"
	></iframe>
</section>

{% endblock %}
