---
title: 'Casa Nautilus'
description: 'Encanto Asequible en el Vibrante Corazón de Cádiz'
preloadImg: '/assets/images/tower.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<meta name="description" content="Casa Nautilus ofrece estancias económicas en el corazón central de Cádiz. Disfrute de un alojamiento acogedor cerca de los principales lugares de interés, que combina encanto histórico, comodidad y excelentes precios." />
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
	defer
	src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on('init', (user) => {
			if (!user) {
				window.netlifyIdentity.on('login', () => {
					document.location.href = '/admin/';
				});
			}
		});
	}
</script>
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-219">
	<div class="cs-container">
		<h1 class="cs-title">Encanto Asequible en el Vibrante Corazón de Cádiz</h1>
		
		<a
			href="https://hotels.cloudbeds.com/es/reservation/1qSOee"
			class="cs-button-solid"
			target="_blank"
		>
			Reserva Tu Estancia
		</a>
	</div>

	<!-- Background Image -->
	<picture class="cs-background">
		<source media="(max-width: 600px)" srcset="/assets/images/tower.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/tower.webp" />
		<img
			decoding="async"
			src="/assets/images/tower.webp"
			alt="tower in cadiz"
			width="2250"
			height="1500"
			aria-hidden="true"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                  Servicios                    -->
<!-- ============================================ -->

<section id="services-285">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">De Primera Clase</span>
			<h2 class="cs-title">Nuestras Amenidades</h2>
			<p class="cs-text">
				Ubicada en el vibrante centro de Cádiz, Casa Nautilus combina elegancia y asequibilidad para crear la escapada perfecta. Los huéspedes pueden relajarse en acogedoras y elegantes habitaciones mientras disfrutan de un servicio excepcional diseñado para que cada estancia sea sin esfuerzo. Con la rica historia de la ciudad, sus animadas calles y monumentos culturales a solo unos pasos, Casa Nautilus es un punto de partida ideal para tus aventuras. Ya sea degustando la gastronomía local, explorando sitios históricos o simplemente relajándote en un ambiente tranquilo, este encantador refugio garantiza una experiencia inolvidable para cada viajero.
			</p>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="./assets/svgs/air-conditioner.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Aire Acondicionado / Calefacción</h3>
					<p class="cs-item-text">
						Disfruta de comodidad personalizada con unidades de calefacción y aire acondicionado en cada habitación, garantizando un ambiente óptimo y acogedor durante tu estancia en Cádiz.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="./assets/svgs/elevator.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Accesible Para Sillas de Ruedas</h3>
					<p class="cs-item-text">
						Disfruta de comodidad y accesibilidad en Casa Nautilus, donde nuestro ascensor garantiza una movilidad sin esfuerzo, permitiéndote recorrer nuestro hotel boutique con facilidad.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="./assets/svgs/wifi.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Wi-Fi Gratuito</h3>
					<p class="cs-item-text">
						Mantente siempre conectado con nuestro Wi-Fi de alta velocidad gratuito, que te permite combinar sin esfuerzo tu escapada costera con trabajo o entretenimiento.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="./assets/svgs/laundry-service.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Servicio de Lavandería</h3>
					<p class="cs-item-text">
						Nuestro hotel boutique ofrece servicios de lavandería sin complicaciones, asegurando que disfrutes de una experiencia fresca y relajante, dejándote más tiempo para sumergirte en la belleza de Cádiz.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="./assets/svgs/room-service.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Servicios de Habitaciones</h3>
					<p class="cs-item-text">
						Servicios integrales de habitaciones, que incluyen limpieza y conserjería, garantizando una estancia cómoda y placentera para los huéspedes de nuestro hotel.
					</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="./assets/svgs/terrace-chair.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">Terraza en la Azotea</h3>
					<p class="cs-item-text">
						Disfruta de vistas impresionantes en la terraza de la azotea de Casa Nautilus, con panorámicas espectaculares de Cádiz y el océano.
					</p>
				</a>
			</li>
		</ul>
	</div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Welcome to Casa Nautilus</span>
			<h2 class="cs-title">A Coastal Beauty with Historic Charm</h2>
			<p class="cs-text">
				Experience the boutique allure of Casa Nautilus in Cadiz's heart. Unwind
				in uniquely designed rooms that perfectly capture the essence of coastal
				chic.
			</p>
			<a href="/about" class="cs-button-solid">Explore Our History</a>
		</div>
	</div>
	<!-- Background Image-->
	<picture class="cs-picture">
		<source media="(max-width: 600px)" srcset="./assets/images/skyline.webp" />
		<source media="(min-width: 601px)" srcset="./assets/images/skyline.webp" />
		<img
			loading="lazy"
			decoding="async"
			src="./assets/images/skyline.webp"
			alt="cadiz skyline photo of the coast"
			width="1920"
			height="1280"
			aria-hidden="true"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1355">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Local Attractions</span>
			<h2 class="cs-title">Your Getaway is Calling</h2>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<a
					href="https://www.nomadscadiz.com/en/Tourism-and-Gastronomy/to-visit-in-Cadiz/"
					target="_blank"
					class="cs-link"
				>
					<h3 class="cs-h3">
						<span class="cs-span">Events</span> + Activities
					</h3>
				</a>
				<picture class="cs-background">
					<source
						media="(max-width: 600px)"
						srcset="./assets/images/surf.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="./assets/images/surf.webp"
					/>
					<img
						decoding="async"
						src="./assets/images/surf.webp"
						alt="construction"
						width="305"
						height="305"
						aria-hidden="true"
					/>
				</picture>
			</li>
			<li class="cs-item">
				<a
					href="https://www.nomadscadiz.com/en/Tourism-and-Gastronomy/where-to-eat/"
					target="_blank"
					class="cs-link"
				>
					<h3 class="cs-h3"><span class="cs-span">Food</span> + Drinks</h3>
				</a>
				<picture class="cs-background">
					<source
						media="(max-width: 600px)"
						srcset="./assets/images/croquets.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="./assets/images/croquets.webp"
					/>
					<img
						decoding="async"
						src="./assets/images/croquets.webp"
						alt="construction"
						width="305"
						height="305"
						aria-hidden="true"
					/>
				</picture>
			</li>
			<li class="cs-item">
				<a
					href="https://www.nomadscadiz.com/en/Tourism-and-Gastronomy/leisure-in-Cadiz/"
					target="_blank"
					class="cs-link"
				>
					<h3 class="cs-h3"><span class="cs-span">Relax</span> + Explore</h3>
				</a>
				<picture class="cs-background">
					<source
						media="(max-width: 600px)"
						srcset="./assets/images/cathedral.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="./assets/images/cathedral.webp"
					/>
					<img
						decoding="async"
						src="./assets/images/cathedral.webp"
						alt="construction"
						width="305"
						height="305"
						aria-hidden="true"
					/>
				</picture>
			</li>
		</ul>
	</div>
</section>

{% include 'components/cta.html' %}

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">Stay In The Heart Of Cadiz</span>
			<h2 class="cs-title">Our Guests Reviews</h2>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<div class="cs-flex-group">
					<picture class="cs-picture">
						<img
							class="cs-profile"
							src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg"
							decoding="async"
							alt="profile"
							width="50"
							height="50"
							aria-hidden="true"
							loading="lazy"
						/>
					</picture>
					<span class="cs-name">
						Cristina P.
						<span class="cs-job">May 2023</span>
					</span>
				</div>
				<div class="wrapper">
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
						alt="stars"
						width="96"
						height="16"
					/>
					<p class="cs-review">
						Our stay at Casa Nautilus exceeded all expectations! We were
						pleasantly surprised by the interior room's tranquility and
						spaciousness despite the absence of an outside window. It was
						impeccably clean and equipped with all necessary amenities,
						including air conditioning, TV, and a hairdryer. The complimentary
						welcome beer was a thoughtful touch, and mornings on the rooftop
						terrace with coffee were serene.
					</p>
				</div>
				<!--Quote Icon-->
				<img
					class="cs-quote"
					aria-hidden="true"
					src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
					decoding="async"
					alt="quote icon"
					width="120"
					height="99"
				/>
			</li>
			<li class="cs-item">
				<div class="cs-flex-group">
					<picture class="cs-picture">
						<img
							class="cs-profile"
							src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png"
							decoding="async"
							alt="profile"
							width="50"
							height="50"
							aria-hidden="true"
							loading="lazy"
						/>
					</picture>
					<span class="cs-name">
						Fernando Q.
						<span class="cs-job">Dec 2023</span>
					</span>
				</div>
				<div class="wrapper">
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
						alt="stars"
						width="96"
						height="16"
					/>
					<p class="cs-review">
						Casa Nautilus offers excellent accommodation right in the heart of
						Cadiz. The rooms are clean, cozy, and come with all the essentials
						for a comfortable stay. We particularly enjoyed the nautical theme
						throughout the hotel, adding to its charm. The location couldn't be
						better, just steps away from the cathedral and within a convenient
						10-minute walk from the train station.
					</p>
				</div>
				<!--Quote Icon-->
				<img
					class="cs-quote"
					aria-hidden="true"
					src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
					decoding="async"
					alt="quote icon"
					width="120"
					height="99"
				/>
			</li>
			<li class="cs-item">
				<div class="cs-flex-group">
					<picture class="cs-picture">
						<img
							class="cs-profile"
							src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot2.jpeg"
							decoding="async"
							alt="profile"
							width="50"
							height="50"
							aria-hidden="true"
							loading="lazy"
						/>
					</picture>
					<span class="cs-name">
						Sarah S.
						<span class="cs-job">Jun 2023</span>
					</span>
				</div>
				<div class="wrapper">
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
						alt="stars"
						width="96"
						height="16"
					/>
					<p class="cs-review">
						My recent stay at Casa Nautilus was nothing short of delightful!
						From the moment we arrived, we were impressed by the boutique charm
						and attentive service. Our interior room, though lacking an outside
						window, provided a quiet retreat and was equipped with all the
						necessary amenities. The rooftop terrace, with its captivating
						views, was a highlight of our mornings. The hotel's attention to
						detail and affordable rates truly set it apart.
					</p>
				</div>
				<!--Quote Icon-->
				<img
					class="cs-quote"
					aria-hidden="true"
					src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
					decoding="async"
					alt="quote icon"
					width="120"
					height="99"
				/>
			</li>
		</ul>
	</div>
</section>

{% endblock %}
